{% extends "base.html" %}

{% block title %}MicroBlog - Profile{% endblock %}

{% block page_content %}
    <h1>{{ name }}'s previous post</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
{% endblock %}